# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.so

# Virtualenv
.venv/
venv/
env/

# Django / dados locais
*.sqlite3
media/
staticfiles/

# Editor / SO
.DS_Store
.idea/
.vscode/

# Logs
*.log
logs.log

# Env files (backend e frontend)
.env
.env.*
front-app/.env
front-app/.env.*
# mantenha apenas arquivos de exemplo
!.env.example
!front-app/.env.example